* { box-sizing: border-box; }

// Fonts

@font-face{
  font-family: Pixelar;
  src: url('https://trezy.sh/fonts/pixelar/pixelar.eot?#iefix');
  src:
    url('https://trezy.sh/fonts/pixelar/pixelar.eot?#iefix') format('eot'),
    url('https://trezy.sh/fonts/pixelar/pixelar.woff2') format('woff2'),
    url('https://trezy.sh/fonts/pixelar/pixelar.woff') format('woff'),
    url('https://trezy.sh/fonts/pixelar/pixelar.ttf') format('truetype');
}





// Animations

@keyframes connected-message {
  from {
    transform: translate(-100vw, -50%);
    opacity: 0;
  }
  
  14% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  86% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  100% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes fade-in-from-bottom {
  from {
    opacity: 0;
    max-height: 0;
  }
  
  to {
    opacity: 1;
    max-height: 100vh;
  }
}

@keyframes loading-message-out {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  to {
    transform: translate(100vw, -50%);
    opacity: 0;
  }
}

@keyframes loading-spinner {
  from {
    background-position: 0 0;
  }
  
  to {
    background-position: -3072px 0;
  }
}

@keyframes pixel-crest {
  from {
    background-position: 0 0;
  }
  
  to {
    background-position: -17920px 0;
  }
}





// Root

:root {
  --pixel-size: 4px;
  --bar-size: calc(var(--pixel-size) * 3);
}

html {
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  width: 100vw;
}

body {
  background-color: #1a1a1a;
  color: white;
  display: grid;
  font-family: Pixelar;
  font-size: 26px;
  image-rendering: pixelated;
  margin: 0;
  // overflow: auto;
  place-items: center;

  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

h1 {
  font-size: 64px;
}

.overlay {
  background-color: #1a1a1a;
  display: grid;
  grid-template-areas:
    'screenshare chat'
    'events camera';
  // grid-template-columns: 1440px 480px;
  // grid-template-rows: 810px 270px;
  // height: 1080px;
  // width: 1920px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr 1fr;
  height: 100vh;
  position: relative;
  width: 100vw;
}
  
.chat {
  display: flex;
  flex-direction: column;
  grid-area: chat;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding-left: 28px;
  padding-right: 16px;
  position: relative;
  
  h2 {
    font-size: 32px;
    margin: -8px 12px 0;
    overflow: hidden;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:before {
    background-image: url(https://trezy.sh/chat-flag.png);
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 124px;
    left: 12px;
    position: absolute;
    top: 28px;
    width: 116px;
    z-index: 1;
  }
  
  .connected-message,
  .loading-message {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
  }
  
  .connected-message {
    animation-duration: 1.4s;
    animation-fill-mode: both;
    animation-play-state: paused;
    transform: translate(-100vw, -50%);
  }
  
  .empty-message {
    bottom: 16px;
    content: 'No messages.';
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 0.2s;
    transition-property: opacity;
  }
  
  .loading-message {
    opacity: 0;
    transform: translate(-50%, -50%);
    transition-duration: 0.2s;
    transition-property: opacity;
    
    .loading-spinner {
      margin-bottom: 8px
    }
  }
  
  &[data-loading=true] .loading-message {
    opacity: 1;
  }
  
  &[data-loading=false] {
    .connected-message {
      animation-play-state: running;
      animation-name: connected-message;
    }
    
    .loading-message {
      animation-duration: 0.2s;
      animation-name: loading-message-out;
    }
  
    .empty-message {
      opacity: 1;
    }
  
    .message-wrapper + .empty-message {
      opacity: 0;
    }
  }
    
  .badges {
    background-image: url(https://trezy.sh/badge-socket.png);
    background-repeat: repeat-x;
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-bottom: 8px;
    margin-left: 12px;
    margin-right: 12px;
    max-width: calc(48px * 8);
    min-height: 48px;
    position: relative;
    z-index: 1;

    &:after,
    &:before {
      content: '';
      display: none;
      height: 48px;
      width: 48px;
    }

    &:before {
      display: block;
    }
  }

  .badge {
    display: block;
    height: 32px;
    margin: 4px 8px 8px;
    width: 32px;

    &.founder {
      background-image: url(https://trezy.sh/founder-badge.png);
    }

    &.moderator {
      background-image: url(https://trezy.sh/moderator-badge.png);
    }

    &.vip {
      background-image: url(https://trezy.sh/vip-badge.png);
    }
  }
  
  .message-wrapper {
    align-items: flex-start;
    animation-duration: 1s;
    animation-name: fade-in-from-bottom;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    p {
      margin: 0 12px;
    }

    .avatar {
      background-image: url(https://trezy.sh/avatar-placeholder.png);
      background-size: cover;
      background-repeat: no-repeat;
      float: left;
      height: 96px;
      margin-right: 16px;
      position: relative;
      width: 96px;

      &:before {
        background-color: #323335;
        box-shadow: 
          92px  0     0 #323335,
          0     92px  0 #323335,
          92px  92px  0 #323335;
        content: '';
        display: block;
        height: 4px;
        position: absolute;
        width: 4px;
      }
    }
    
    &[data-broadcaster=true],
    &[data-moderator=true] {
      align-items: flex-end;
      
      .avatar {
        float: right;
        margin-left: 20px;
        margin-right: 0;
      }
      
      .badges {
        &:before {
          display: none;
        }
      
        &:after {
          display: block;
        }
      }
    }
  }

  .message {
    background-color: #323335;
    border-image-outset: 4px;
    border-image-repeat: repeat;
    border-image-slice: 8 fill;
    border-image-source: url(https://trezy.sh/message-background.png);
    border-image-width: 8px;
    flex-shrink: 0;
    margin-top: 8px;
    position: relative;
    width: 100%;
  }
}

.screenshare {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: screenshare;
}

.camera {
  // background-color: red;
  grid-area: camera;
}

.events {
  display: flex;
  grid-area: events;
  justify-content: flex-end;
  max-width: 75vw;
  padding: 16px;
  position: relative;

  &:before {
    background-image: url(https://trezy.sh/events-flag.png);
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 120px;
    left: 16px;
    position: absolute;
    top: -4px;
    width: 72px;
    z-index: 1;
  }
  
  .event {
    align-items: center;
    clip-path: polygon(
      0 calc(2 * var(--pixel-size)),
      var(--pixel-size) calc(2 * var(--pixel-size)),
      var(--pixel-size) var(--pixel-size),
      calc(2 * var(--pixel-size)) var(--pixel-size),
      calc(2 * var(--pixel-size)) 0,
      
      calc(100% - (2 * var(--pixel-size))) 0,
      calc(100% - (2 * var(--pixel-size))) var(--pixel-size),
      calc(100% - var(--pixel-size)) var(--pixel-size),
      calc(100% - var(--pixel-size)) calc(2 * var(--pixel-size)),
      100% calc(2 * var(--pixel-size)),
      
      100% calc(100% - (2 * var(--pixel-size))),
      calc(100% - var(--pixel-size)) calc(100% - (2 * var(--pixel-size))),
      calc(100% - var(--pixel-size)) calc(100% - var(--pixel-size)),
      calc(100% - (2 * var(--pixel-size))) calc(100% - var(--pixel-size)),
      calc(100% - (2 * var(--pixel-size))) 100%,
      
      calc(2 * var(--pixel-size)) 100%,
      calc(2 * var(--pixel-size)) calc(100% - var(--pixel-size)),
      var(--pixel-size) calc(100% - var(--pixel-size)),
      var(--pixel-size) calc(100% - (2 * var(--pixel-size))),
      0 calc(100% - (2 * var(--pixel-size))),
    );
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    justify-content: center;
    margin: 8px;
    max-width: 50%;
    padding: 0 64px;
    position: relative;
    
    &:after {
      background-image: url(https://trezy.sh/event-background.png);
      background-repeat: no-repeat;
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 0;
    }
    
    &:after {
      background-position: center right;
      right: 0;
      width: 100%;
    }
    
    > * {
      position: relative;
      z-index: 1;
    }
    
    p {
      background-color: rgba(black, 0.3);
      padding: 0 16px;
      text-align: center;
    }
    
    .icon {
      background-repeat: no-repeat;
      height: 64px;
      margin-bottom: 20px;
      width: 64px;
    }
    
    &.bits-event .icon {
      background-image: url(https://trezy.sh/bits-event-icon.png);
    }
    
    &.resubscription-event .icon {
      background-image: url(https://trezy.sh/resubscription-event-icon.png);
    }
    
    &.subscription-event .icon {
      background-image: url(https://trezy.sh/subscription-event-icon.png);
    }
    
    &.tiltify-donation-event .icon {
      background-image: url(https://trezy.sh/donation-event-icon.png);
    }
  }
}





// Common
.loading-spinner {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: loading-spinner;
  animation-timing-function: steps(48);
  background-image: url('https://trezy.sh/loading-spinner.png');
  background-repeat: no-repeat;
  height: 64px;
  opacity: 1;
  overflow: hidden;
  width: 64px;
}

.pixel-crest {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: pixel-crest;
  animation-timing-function: steps(35);
  background-image: url(https://trezy.sh/pixel-crest.png);
  background-repeat: no-repeat;
  display: none;
  flex-grow: 1;
  flex-shrink: 0;
  height: 512px;
  max-height: 512px;
  overflow: hidden;
  width: 512px;
}

.horizontal-bar,
.vertical-bar {
  position: absolute;
}

.horizontal-bar {
  background-image: url(https://trezy.sh/horizontal-bar.png);
  background-repeat: repeat-x;
  height: var(--bar-size);
  left: 0;
  right: 0;
  top: 75%;
}

.vertical-bar {
  background-image: url(https://trezy.sh/vertical-bar.png);
  background-repeat: repeat-y;
  bottom: 0;
  left: 75%;
  top: 0;
  width: var(--bar-size);
}
