* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  image-rendering: pixelated;
  text-overflow: ellipsis;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 10px;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  width: 100vw;
}

body {
  background-color: #1a1a1a;
  color: white;
  font-family: Pixelar, monospace;
  font-size: 30px;
  height: 100vh;
  overflow: hidden;
  text-shadow:
    0 2px 0 black, // bottom
    2px 2px 0 black, // bottom right
    -2px 2px 0 black, // bottom left
    0 -2px 0 black, // top
    2px -2px 0 black, // bottom right
    -2px -2px 0 black, // bottom left
    2px 0 0 black, // right
    -2px 0 0 black; // left
  width: 100vw;
}
