.alert {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  span {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 7rem);
    z-index: 1;
  }
}
